<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">

  <title>Document</title>
</head>

<body>
  <div class="container-login">
    <div class="">
      <form id="login" class="devbook-form">
        <span>Seja bem vindo ao DevBook</span>
        <div>
          <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Digite seu senha" required>
        </div>
        <a href="#">Clique aqui para criar a sua conta</a>
        <button class="btn-devbook">Login</button>
      </form>
    </div>
  </div>
</body>

</html>