<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de usuários</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="form-cadastro">
        <span>Crie a sua conta agora mesmo!</span>
        <div>
          <input type="text" name="name" id="name" placeholder="Digite o seu nome" required>
        </div>
        <div>
          <input type="text" name="nickName" id="nickName" placeholder="Digite o seu apelido" required>
        </div>
        <div>
          <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Digite a sua senha" required>
        </div>
        <div>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Digite a sua senha" required>
        </div>
        <a href="/"> Clique aqui para fazer login</a>
        <button type="submit" class="btn-devbook">Cadastrar</button>
      </form>
    </div>
  </div>
</body>

</html>